@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

@import "./game/game.css";

body {
  background: black;
  color: white;
  font-family: "Press Start 2P", Courier, monospace;
  margin: 30px;
  font-size: 16px;
}
