@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

@import "./base.css";
@import "./form.css";
@import "./game/lobby.css";
@import "./game/scoreboard.css";
@import "./game/game.css";

.preload-images {
  height: 0;
  width: 0;
  z-index: -1;
}
