.button,
.input {
  position: relative;
  font-size: 20px;
  padding: 15px;
}
.input {
  border: 6px solid #363636;
  box-shadow: inset -4px -4px 0px 0px #a9a9a9;
}
.button {
  color: white;
  background: transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.button:before {
  top: -6px;
  left: 0;
  border-top: 6px #363636 solid;
  border-bottom: 6px #363636 solid;
}

.button::after {
  left: -6px;
  top: 0;
  border-left: 6px #363636 solid;
  border-right: 6px #363636 solid;
}

.button.red {
  background: #e76e55;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}
.button.red:hover,
.button.red:focus {
  background: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}

.button.green {
  background: #92cd41;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.button.green:hover,
.button.green:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
