.game {
  .load-bee {
    background-image: url("/images/bees/bees.gif");
  }
  .load-bee-1 {
    background-image: url("/images/bees/bees-1.gif");
  }
  .bee {
    background-image: url("/images/bees/bees.gif");
    &:before {
      content: "";
      display: block;
      height: 100%;
      flex: 1;
      position: absolute;
      width: 100%;
      background-image: url("/images/bees/bees-1.gif");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
  .gui {
    text-align: center;
    margin-bottom: 30px;
  }

  .map {
    border: 6px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
    flex: 1;
  }

  /*
  Tiles of map (terain, border)
  */
  .tile {
    background-size: cover;
    image-rendering: pixelated;
    height: 100%;
    position: relative;
    flex: 1;

    &.grass {
      &-1 {
        background-color: #44d873;
        background-image: url("/images/terain/grass-1.gif");
      }
      &-2 {
        background-color: #44d873;
        background-image: url("/images/terain/grass-2.gif");
      }
      &-3 {
        background-color: #44d873;
        background-image: url("/images/terain/grass-3.gif");
      }
      &-4 {
        background-color: #44d873;
        background-image: url("/images/terain/grass-4.gif");
      }
    }

    &.nothing {
      background-color: gray;
      background-image: url("/images/terain/nothing.gif");
    }
  }

  /*
  Items that are displayed inside tiles (bears, trees, honey, etc)
  */
  .item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;

    /*
    Honey
    */
    &.honey {
      background-image: url("/images/honey/drop.gif");
      background-size: 75%;
    }

    /*
    Trees
    */
    &.tree {
      background-image: url("/images/trees/tree-1.gif");
    }

    /*
    Bears
    */
    &.bear {
      &.self {
      }

      &.opponent {
        filter: grayscale(60%);
      }

      &.dead {
        background-image: url("/images/bear/dead.gif");
      }

      &.up {
        background-image: url("/images/bear/up.gif");

        &.idle {
          background-image: url("/images/bear/up-idle.gif");
        }

        &.clawing {
          background-image: url("/images/bear/up-claw.gif");
        }
      }

      &.left {
        background-image: url("/images/bear/left.gif");

        &.idle {
          background-image: url("/images/bear/left-idle.gif");
        }

        &.clawing {
          background-image: url("/images/bear/left-claw.gif");
        }
      }

      &.right {
        background-image: url("/images/bear/right.gif");

        &.idle {
          background-image: url("/images/bear/right-idle.gif");
        }

        &.clawing {
          background-image: url("/images/bear/right-claw.gif");
        }
      }

      &.down {
        background-image: url("/images/bear/down.gif");

        &.idle {
          background-image: url("/images/bear/down-idle.gif");
        }

        &.clawing {
          background-image: url("/images/bear/down-claw.gif");
        }
      }
    }
  }
}
