.gui {
  text-align: center;
  margin-bottom: 30px;
}

.map {
  border: 6px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  text-align: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-evenly;
  flex: 1;
}

/* Tiles of map (terain, border) */
.tile {
  background-size: cover;
  image-rendering: pixelated;
  height: 100%;
  flex: 1;
}

.tile.grass-1 {
  background-color: #44d873;
  background-image: url("/images/terain/grass-1.gif");
}

.tile.grass-2 {
  background-color: #44d873;
  background-image: url("/images/terain/grass-2.gif");
}

.tile.grass-3 {
  background-color: #44d873;
  background-image: url("/images/terain/grass-3.gif");
}

.tile.grass-4 {
  background-color: #44d873;
  background-image: url("/images/terain/grass-4.gif");
}

.tile.nothing {
  background-color: gray;
  background-image: url("/images/terain/nothing.gif");
}

/*
Sprites that are displayed inside tiles (bears, trees, etc)
*/
.sprite {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
}

/* Bear (player and opponents) */
.bear.self {}

.bear.opponent {
  filter: grayscale(60%);
}

.bear.up {
  background-image: url("/images/bear/up.gif");
}

.bear.left {
  background-image: url("/images/bear/left.gif");
}

.bear.right {
  background-image: url("/images/bear/right.gif");
}

.bear.down {
  background-image: url("/images/bear/down.gif");
}

.tree {
  background-image: url("/images/trees/tree-1.gif");
}
