.scoreboard {
  .players {
    list-style: none;
    margin: 0 auto;
    margin: 0;
    max-width: 500px;
    padding: 0;
    text-align: left;
  }

  .player {
    display: flex;
    width: 100%;

    &::before {
      background-image: url("/images/bear/idle.gif");
      background-size: cover;
      content: "";
      display: inline-block;
      flex: 0 0 30px;
      height: 32px;
      margin-right: 16px;
      vertical-align: middle;
      width: 32px;
    }

    &.self {
      color: lime;
    }

    .player-name {
      flex: 1;
      line-height: 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
